{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
<hr />
<div class="container-md mt-5">
  <form>
    <div class="row">
      <div class="col">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
    </div>
    <div class="mb-3">
      <label for="dept" class="form-label mt-3">Department</label>
      <select class="form-select" aria-label="Default select example">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="row">

      <div class="mb-2 col">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="salary">
      </div>

      <div class="mb-2 col">
        <label for="bonus" class="form-label">Bonus</label>
        <input type="number" class="form-control" id="bonus">
      </div>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label mt-3">Role</label>
      <select class="form-select" aria-label="Default select example">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="row">

      <div class="mb-3 col">
        <label for="phone" class="form-label">Phone</label>
        <input type="tel" class="form-control" id="phone">
        <div id="emailHelp" class="form-text">We'll never share your Phone with anyone else.</div>
      </div>


      <div class="mb-3 col">
        <label for="hire_date" class="form-label">Hire date</label>
        <input type="datetime-local" class="form-control" id="hire_date">
      </div>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">*Agree terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock content %}