{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %}
<hr />
<div class="container-md mt-5">
  <form action="/add" method="post">

    {% csrf_token %}

    <div class="row">
      <div class="col">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value=" {{ first_name }}">
      </div>
      <div class="col">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}">
      </div>
    </div>

    <div class="row">

      <div class="col">
        <label for="dept" class="form-label">Department</label>
        <input type="text" class="form-control" id="dept" name="dept" value="{{dept}}">
      </div>
      <div class="col">
        <label for="role" class="form-label">Role</label>
        <input type="text" class="form-control" id="role" name="role" value="{{ role }}">
      </div>
    </div>

    <div class="row">

      <div class="mb-2 col">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="salary" name="salary" value=" {{ salary }} ">
      </div>

      <div class="mb-2 col">
        <label for="bonus" class="form-label">Bonus</label>
        <input type="number" class="form-control" id="bonus" name="bonus" value=" {{ bonus }} ">
      </div>
    </div>

    <div class="mb-3 col">
      <label for="phone" class="form-label">Phone</label>
      <input type="tel" class="form-control" id="number" name="phone" value="{{ phone }}">
      <div id="emailHelp" class="form-text">We'll never share your Phone with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock content %}