<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">EM App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="view">View all employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add">Add an employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filter">Filter employee</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-primary"><a class="nav-link" href="/admin">Only Admin</a></button>
    </div>
  </nav>
</div>