{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}
{% block content %}

  {% if messages %}
    {% for m in messages %}
          <div class="alert alert-dismissible fade show border border-{{m.tags}}-subtle bg-{{m.tags}}-subtle" role="alert">
            <p class="m-0">{{ m }} </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    {% endfor %}
  {% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Sr. No.</th>
      <th class="table-primary" scope="col">First name</th>
      <th class="table-primary" scope="col">Last name </th>
      <th scope="col">Department </th>
      <th class="table-secondary" scope="col">Salary</th>
      <th scope="col">Bonus</th>
      <th scope="col">Phone</th>
      <th class="table-secondary" scope="col">Hiring Date</th>
      <th class="table-danger" scope="col">Remove Employee</th>
    </tr>
  </thead>
  
  <tbody>
    {% for emp in emps %}
    <tr>
      <th scope="row">{{ emp.id }}</th>
      <td class="table-primary">{{ emp.first_name }}</td>
      <td class="table-primary">{{ emp.last_name }}</td>
      <td>{{ emp.dept }}</td>
      <td class="table-secondary">{{ emp.salary }}</td>
      <td>{{ emp.bonus }}</td>
      <td>{{ emp.phone }}</td>
      <td class="table-secondary">{{ emp.hire_date }}</td>

      <td class="table-danger">
        <button type="button" class="btn btn-dark"><a
            class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            href="/remove/{{emp.id}}">Remove</a>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}